[submodule "fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ripgrep"]
	path = bundle/ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "bundle/nix"]
	path = bundle/nix
	url = https://github.com/LnL7/vim-nix
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "bundle/vim-sandwich"]
	path = bundle/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
