[submodule "fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/ripgrep"]
	path = bundle/ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule "bundle/nix"]
	path = bundle/nix
	url = https://github.com/LnL7/vim-nix
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "bundle/vim-sandwich"]
	path = bundle/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
